In [1]:
import pandas as pd

df = pd.read_csv("meteo.csv")
df.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,...,sol,presMax,horaPresMax,presMin,horaPresMin,hrMedia,hrMax,horaHrMax,hrMin,horaHrMin
0,2024-06-29,3191E,COLMENAR VIEJO,MADRID,1004,"17,0","0,0","13,0",Varias,"20,9",...,"2,3","902,7",24,"900,7",07,73.0,NaN,NaN,NaN,NaN
1,2024-06-30,3191E,COLMENAR VIEJO,MADRID,1004,"18,9","0,0","13,7",05:45,"24,1",...,"4,0","903,9",Varias,"902,2",05,52.0,NaN,NaN,NaN,NaN
2,2024-07-01,3191E,COLMENAR VIEJO,MADRID,1004,"21,4","0,0","14,9",03:50,"28,0",...,"10,7","908,5",24,"903,9",00,41.0,NaN,NaN,NaN,NaN
3,2024-07-02,3191E,COLMENAR VIEJO,MADRID,1004,"21,2","0,0","12,9",05:15,"29,5",...,"13,4","908,5",Varias,"904,9",18,48.0,NaN,NaN,NaN,NaN
4,2024-07-03,3191E,COLMENAR VIEJO,MADRID,1004,"24,0","0,0","15,9",05:15,"32,0",...,"13,6","906,1",04,"902,6",18,30.0,NaN,NaN,NaN,NaN

In [2]:
df.shape

(15630, 25)

In [3]:
df.describe

<bound method NDFrame.describe of             fecha indicativo          nombre provincia  altitud  tmed prec  \
0      2024-06-29      3191E  COLMENAR VIEJO    MADRID     1004  17,0  0,0
1      2024-06-30      3191E  COLMENAR VIEJO    MADRID     1004  18,9  0,0
2      2024-07-01      3191E  COLMENAR VIEJO    MADRID     1004  21,4  0,0
3      2024-07-02      3191E  COLMENAR VIEJO    MADRID     1004  21,2  0,0
4      2024-07-03      3191E  COLMENAR VIEJO    MADRID     1004  24,0  0,0
...           ...        ...             ...       ...      ...   ...  ...
15625  1982-08-05      3191E  COLMENAR VIEJO    MADRID     1004   NaN  0,0
15626  1982-08-06      3191E  COLMENAR VIEJO    MADRID     1004   NaN  0,0
15627  1982-08-07      3191E  COLMENAR VIEJO    MADRID     1004   NaN  0,0
15628  1982-08-08      3191E  COLMENAR VIEJO    MADRID     1004   NaN  0,0
15629  1982-08-09      3191E  COLMENAR VIEJO    MADRID     1004   NaN  0,0

       tmin horatmin  tmax  ...   sol  presMax horaPresMax presMin  \
0      13,0   Varias  20,9  ...   2,3    902,7          24   900,7
1      13,7    05:45  24,1  ...   4,0    903,9      Varias   902,2
2      14,9    03:50  28,0  ...  10,7    908,5          24   903,9
3      12,9    05:15  29,5  ...  13,4    908,5      Varias   904,9
4      15,9    05:15  32,0  ...  13,6    906,1          04   902,6
...     ...      ...   ...  ...   ...      ...         ...     ...
15625   NaN      NaN   NaN  ...   NaN      NaN         NaN     NaN
15626   NaN      NaN   NaN  ...   NaN      NaN         NaN     NaN
15627   NaN      NaN   NaN  ...   NaN      NaN         NaN     NaN
15628   NaN      NaN   NaN  ...   NaN      NaN         NaN     NaN
15629   NaN      NaN   NaN  ...   NaN      NaN         NaN     NaN

      horaPresMin hrMedia hrMax horaHrMax hrMin horaHrMin
0              07    73.0   NaN       NaN   NaN       NaN
1              05    52.0   NaN       NaN   NaN       NaN
2              00    41.0   NaN       NaN   NaN       NaN
3              18    48.0   NaN       NaN   NaN       NaN
4              18    30.0   NaN       NaN   NaN       NaN
...           ...     ...   ...       ...   ...       ...
15625         NaN     NaN   NaN       NaN   NaN       NaN
15626         NaN     NaN   NaN       NaN   NaN       NaN
15627         NaN     NaN   NaN       NaN   NaN       NaN
15628         NaN     NaN   NaN       NaN   NaN       NaN
15629         NaN     NaN   NaN       NaN   NaN       NaN

[15630 rows x 25 columns]>

In [4]:
df.isnull().sum()

fecha              0
indicativo         0
nombre             0
provincia          0
altitud            0
tmed            1023
prec              75
tmin            1023
horatmin        2830
tmax            1018
horatmax        2825
dir             3241
velmedia        2944
racha           3241
horaracha       3244
sol             2887
presMax         2888
horaPresMax     2889
presMin         2890
horaPresMin     2890
hrMedia         2826
hrMax          15625
horaHrMax      15625
hrMin          15625
horaHrMin      15625
dtype: int64